* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* HEADER */
header {
    width: 100%;
    height: 1400px;
    background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.418), hsla(208, 100%, 33%, 0.479)); 
    background: linear-gradient(to right, hsla(55, 100%, 95%, 0.411), hsla(208, 100%, 33%, 0.411));
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}

header .red-social {
  text-align: right;
  padding: 30px 50px 0 0;
}

.red-social span {
  margin: 5px; /* Usa porcentaje en lugar de píxeles */
  color: #090820;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 70px;
  transition: .3s ease;
}
.fa-facebook:hover{
  background: blue;
  color:white;
  box-shadow: 0 0 15px blue,
              0 0 45px blue,
              0 0 75px blue,
              0 0 115px blue;
}

.fa-instagram-square:hover{
  background: rgb(89, 0, 255);
  color:white;
  box-shadow: 0 0 15px rgb(89, 0, 255),
              0 0 45px rgb(174, 0, 255),
              0 0 75px rgb(255, 30, 0),
              0 0 115px rgb(255, 196, 0);
}
.fa-twitter-square:hover{
  background: rgb(0, 183, 255);
  color:white;
  box-shadow: 0 0 15px rgb(0, 183, 255),
              0 0 45px rgb(0, 183, 255),
              0 0 75px rgb(0, 183, 255),
              0 0 115px rgb(0, 183, 255);
}


nav .flex-menu {
    display: flex;
    justify-content: flex-end;
}

.flex-menu li {
    margin-left: 2%;
    list-style: none;
}

.flex-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

.flex-menu li a:hover {
    color: #1900ff;
    text-decoration: underline;
}


header .textos-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 80px;
    color: #04021d;
}
.textos-header h2{
    font-size: 60px;
    font-weight: 300;
    color: #04021d;
}
/* nuevo*/
header .formu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
formu{
  padding: 50px 105px;
  box-shadow: 0 0 20px rgba(187, 30, 30, 0.2);
  border-radius: 20px;
  text-align: center;
}

form{
  padding: 50px 105px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
}

.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
}
h2{
  color: #283629;
  font-size: 45px;
}
label {
  color:#283629;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
input, textarea {
  padding: 17px 35px;
  border-radius:25px;
  margin-bottom: 20px;
  background-color: #ebf1ec;
  border: 2px solid #f1f8f2 ;
  color: #041b1b;
  outline: none;
}
input::placeholder, textarea::placeholder {
  color: #5496c2;
}
.form-txt {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.form-text a{
  color: #76b28e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: rgb(27, 3, 3);
  border: 0;
  border-radius: 25px;
  background: #4c84d9;
  box-shadow: 0 0 20px rgba(0, 38, 254, 0.4);
  cursor: pointer;
}
.btn:hover{
  background-color: #bfccbf;
  
}

/* PIE DE PAGINA */
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #072297;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@media screen and (max-width: 900px) {
  /* HEADER */
  header {
      height: 1000px;
  }
  .red-social span {
      padding: 45px;
  }
  .textos-header h1 {
      font-size: 60px;
  }
  .textos-header h2 {
      font-size: 40px;
  }
 
  .formu, form {
      padding: 30px;
  }
  .input-group {
      flex-direction: column;
  }
  h2 {
      font-size: 30px;
  }
  input, textarea {
      padding: 15px 25px;
      border-radius: 20px;
      margin-bottom: 15px;
  }
  .btn {
      font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  /* HEADER */
  header {
      height: 800px;
  }
  .red-social span {
      padding: 30px;
  }
  .textos-header h1 {
      font-size: 40px;
  }
  .textos-header h2 {
      font-size: 30px;
  }
  .formu,
  form {
      padding: 20px;
  }
  input,
  textarea {
      padding: 12px 20px;
      border-radius: 15px;
      margin-bottom: 10px;
  }
  .btn {
      font-size: 12px;
  }
}
